[submodule "core/test/lib/unity"]
	path = core/test/lib/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "ui/lib/raylib"]
	path = ui/lib/raylib
	url = https://github.com/raysan5/raylib.git
